 @import "~_variables.scss";

 .edit-property{
        width:60%;
        margin:30px auto;
        form{
            padding:20px;
            border-radius:4px;
            margin:20px 50px;
            background-color:rgba(0,0,0,0.2);
            background-color:$main-color;
            box-shadow:$main-shadow;
            .mat-input-container{
                &.ng-touched.ng-invalid{
                    .mat-input-underline{
                        border-top-width: 2px ;
                        border-color:$danger-color  ;
                    }
                    .mat-input-ripple{
                        background-color:$danger-color ;
                    }
                }
                &.invalidTitle.ng-invalid{
                    .mat-input-underline{
                        border-top-width: 2px ;
                        border-color:$danger-color ;
                    }
                    .mat-input-ripple{
                        background-color: $danger-color ;
                    }
                }
            }
            .mat-input-container,.mat-select,.form-controls,.action-buttons{
                display:block;
                margin:25px 10px;
            }
            .form-controls{
                input{
                    opacity:0;position: absolute;overflow:hidden;width:0.1px;height:0.1px;
                    overflow: hidden;z-index: -1;
                    &:focus + label{
                        background-color: #7d7c7c;outline: 1px dotted #000;
	                    outline: -webkit-focus-ring-color auto 5px;
                    }
                }
                label{
                        font-size: 13px;font-weight: 400;color:#212121  ;padding: 6px 12px;
                        background-color:#7d7c7c;display: inline-block;cursor:pointer;
                        margin-bottom:0;text-overflow: ellipsis;white-space: nowrap;
                        max-width:300px;overflow:hidden;transition:all 0.2s ease-in-out;
                        &:hover{background-color:#969696;}
                        md-icon{position:absolute;font-size:18px;}
                        span{padding-left:30px;}
                }  
                p{
                    color:$danger-color;
                    margin: 5px 0;
                    font-size: 15px;
                }
            }          
            .action-buttons
            {
                button{
                    background-color:rgba(193, 99, 92, 0.8);
                    color:#f5f5f5;
                    transition: all 0.5s ease;
                    &:hover{
                        background-color:$danger-color;
                        color:#ddd;
                    }
                }
            }
        }
    }
