$heading-color:#f7f7f7;
$main-color:rgba(0,0,0,0.38);
$border-color:#4e4e4e;
$main-shadow: none;
$danger-color:#c1635c;
$dark-danger:#984e48;
$second-color:#565552;
$data-color:#a2a2a2;
$dialog-heading:#717171;
$dialog-paragraph:#777;